/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}



[class*="col-"] {
    float: left;
    padding: 10px;
}

/*------navbar design start hear------*/
.navbar::after {
    clear: both;
    display: table;
    content: '';
}

.nav-logo {
    text-align: left;

}

.nav-heading {
    text-align: right;
}

.nav-manu {
    flex-direction: row;
    font-size: small;
    justify-content: flex-end;


}

.nav-manu a {
    padding: 10px;
    background-color: #212428;

}

.navbar {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: var(--background-color);
    margin: 5px 20px;
    background-color: #212428;
}

.profile {
    padding: 100px 15px;
    position: relative;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: var(--background-color);
    margin: 5px 20px;

}

.h1 {
    color: var(--white-color)
}



/*-----about me start hear-----*/
.about-me::after {
    display: table;
    clear: both;
    content: '';
}

.about-me {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: var(--background-color);
    margin: 5px 20px;

}


.aboutme-image img {
    border: none;
    height: auto;
    width: auto;
    background-color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: var(--background-color);
    border-radius: 10px;

}

.aboutme-image {
    margin-top: 70px;
}

.aboutme-desc {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: var(--background-color);
    border-radius: 10px;

}


.aboutme-desc p {
    text-align: left;
}

.cv-button {

    margin: 0 auto;
    display: flex;
}

/*-----about me end  hear-----*/

/* professional experience start here */
.professional-experience .card {

    margin-top: -10px;
}

.professional-experience::after {
    clear: both;
    display: table;
    content: '';

}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: var(--background-color);
    padding: 25px 30px;
    border-radius: 5px;
    margin: 0 auto;

}

.social-icons {

    margin-top: 40px;



}

.p5 {
    margin-top: 0px;
    color: gray;
}

.more {
    margin-top: 20px;
    color: gray;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;

}


.contact {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
    height: 700px;
}

/* footer starts from here  */
.footer-menu{
    margin-top: 12px;
}

.footer-menu a {
    display: inline;
    margin: 10px;
    
}
/* footer ends here  */

/* professional experience emd here */






/*--------
.main{
    display:grid;
    grid-template-columns:60% 40% ;
    grid-template-areas: 'a b';
    border:5px solid black;
}
.text{
    grid-area:a;
    border:5px solid black;
}
.img{
    grid-area:b;
    border:5px solid black;
}

------*/
@media screen and (max-width:1200px) {


    [class*="col-"] {
        width: 100%;
    }

    h1 {
        font-size: 2.2rem;
        text-align: center;
        color: var(--white-color);
        font-family: var(--big-font);
        text-align: center;
        margin: 0px;
        padding-top: 10px;

    }

    .nav-manu:hover {
        transition: 0.3s ease;
    }

    .nav-manu {
        padding-top: 10px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        ;
        text-transform: uppercase;
        padding: 1% 7%;

    }

    .navbar {
        text-align: center;
    }

    .logo {
        display: flex;
        justify-content: center;
    }


    /*-----about me start hear-----*/
    .about-me::after {
        display: table;
        clear: both;
        content: '';
    }

    .about-me {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background-color: var(--background-color);
        margin: 5px 20px;
    }

    .aboutme-image img {

        border-radius: 50%;
        height: 220px;
        width: 220px;
        border: 1px solid var(--red-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background-color: var(--background-color);

    }

    .aboutme-image {
        margin-top: 2px;


    }

    .aboutme-desc {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background-color: var(--background-color);
        border-radius: 10px;


    }

    .aboutme-desc p {
        text-align: left;
    }

    .contact::after {
        clear: both;
        display: table;
        content: '';
    }

    /*-----about me start hear-----*/

    /* professional experience start here */

    .user-details .input-box input {
        height: 45px;
        width: 100%;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: 1px solid #303030;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
        color: rgb(247, 247, 247);
        background-color: #1c1e20;
    }

    /* professional experience emd here */
    form .user-details .input-box {
        margin-bottom: 15px;
        width: calc(100% / 2 - 20px);
    }

    .container {
        max-width: 700px;
        width: 100%;
        background-color: var(--background-color);
        padding: 25px 30px;
        border-radius: 5px;
        margin: 0 auto;

    }

    video {
        width: 100%;
        height: 200px;
        display: block;
        border-radius: 10px;
    }

    .video-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(168, 54, 54, 0.5);

        border-radius: 10px;
    }

    .achievemnet-contact {
        margin: 10px;
    }

    .cards {
        margin: 20px;
    }

    /*.social-icons {
    margin-left: 60px;
   margin-top:60px;
   padding:20px;
  }

  /* professional experience emd here */
}